.containerSignNow {
    position: absolute;
    left: 100px;
    top: 410px;
    width: auto !important;

    display: flex;
    flex-direction: column;
}
@media(max-width: 1025px){
    .containerSignNow {   
        left: 50px;
        top: 365px;
    }
}
@media(max-width: 767px){
    .containerSignNow {
        left: 23px;
        top: 398px;
    }
}
.containerSignNow .plans {
    display: flex;
    align-items: center;
    flex-direction: row;
}
@media(max-width: 767px){
    .containerSignNow .plans {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .containerSignNow .plans select{
        margin-bottom: 20px;
        width: 180px;
        height: 75px;
    }
}
.containerSignNow .plans select{
    border: none;
    background: #fff;
    width: 170px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    -webkit-appearance: none;
    background-image: url("../../../assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    object-fit: cover;
}
.containerSignNow .plans select .optionTitle{
    display: none;
}

.containerSignNow .plans .containerPrice {

}
.containerSignNow .plans .containerPrice strong{
    color: #FFA452;
    font-weight: 500;
    font-size: 18px;
}
.containerSignNow .plans .containerPrice h2{
    color: #FFA452;
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}
.containerSignNow .button a{
    background-color: #19D1C3;
    color: #0A3F3C;
    text-decoration: none;
    width: 300px;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}