
.flagProduct {
    top: 30px;
    right: 30px;
    color: white;
    width: max-content !important;
    z-index: 2;
    padding: 10px 15px;
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #1675bf;
    border-radius: 30px;
    font-weight: 800;
}
@media (max-width: 767px) {
    .flagProduct {
        font-size: 12px;
        padding: 7px 12px;
        top: 15px;
        right: 15px;
    }
}