.containerSignNow {
    position: absolute;
    right: 50px;
    top: 515px;
    width: auto !important;

    display: flex;
    flex-direction: column;
}
@media(max-width: 1025px){
    .containerSignNow {   
        left: 50px;
        top: 395px;
    }
}
@media(max-width: 767px){
    .containerSignNow {
        /* left: 23px;
        top: 445px; */
        position: initial;
    }
}
.containerSignNow .plans {
    display: flex;
    align-items: center;
    flex-direction: row;
}
@media(max-width: 767px){
    .containerSignNow .plans {
        display: flex;
        align-items: flex-start;
        flex-direction: column;;
    }
    .containerSignNow .plans select{
        /* margin-bottom: 20px; */
        width: 180px;
        height: 75px;
    }
}
.containerSignNow .plans select {    
    border: 1px solid #053471;
    color: #053471;
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    width: 250px;
    height: 65px;
    border-radius: 15px;
    /* margin-right: 20px; */
    padding: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    -webkit-appearance: none;
    background-image: url("../../../assets/images/arrowdownblue.png");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 13px;
    -o-object-fit: cover;
    object-fit: cover;
    outline: 0;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 0 20px;
}
@media(max-width: 767px){
    .containerSignNow .plans select {    
        position: initial;
        width: 180px !important;
        height: 50px;
        font-size: 16px;
    }
}
.containerSignNow .plans select::-ms-expand {
   display: none;
}
.containerSignNow .plans select .optionTitle{
    display: none;
}