@media(min-width: 1024px) {
	.customMenu {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.menuItemContainer {
		position: static;
		display: flex;
	}
	.menuItemContainer::after {
		content: '';
		display: block;
		border-right: 1px solid #F4F4F4;
		height: 50px;
		margin-top: 12px;
	}
	.menuItemContainer:last-child:after {
		border-right: none;
	}
	.menuItemContainer > a {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-decoration: none;
		color: #707070;
		text-transform: initial;
		font-size: 16px;
		padding: 10px 23px;
	}
	.menuItemContainer > a:hover {
		border-bottom: 1px solid #002555;
		border-bottom-left-radius: 40px;
	}
	.menuItemContainer1 > a:hover {
		border-bottom: 1px solid #002555;
		border-bottom-left-radius: 0 !important;
	}
	.menuItemContainer2 > a:hover {
		border-bottom: 1px solid #002555;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 40px !important;
	}
	.menuItemContainer > a::before {
		content: '';
		display: block;
		background-image: url('https://lojadechra.vtexassets.com/assets/vtex/assets-builder/lojadechra.dechra-store/0.0.4/images/book___3676f81e9f367ae57ab382dab754fa73.svg');
		background-repeat: no-repeat;
		background-size: 30px;
		width: 30px;
		height: 30px;
		padding-bottom: 10px;
	}
	.menuItemContainer1 > a::before{
		content: '';
		display: block;
		background-image: url('https://lojadechra.vtexassets.com/assets/vtex/assets-builder/lojadechra.dechra-store/0.0.4/images/dog___bf9feed15683a736ef6e3d9ced6cbe46.svg');
		background-repeat: no-repeat;
		background-size: 35px;
		width: 35px;
		height: 30px;
		padding-bottom: 10px;
	}
	.menuItemContainer2 > a::before {
		content: '';
		display: block;
		background-image: url('https://lojadechra.vtexassets.com/assets/vtex/assets-builder/lojadechra.dechra-store/0.0.4/images/cat___6aa56d4f342ebb79152285892195804e.svg') !important;
		background-repeat: no-repeat;
		background-size: 30px;
		width: 30px;
		height: 30px;
		padding-bottom: 10px;
	}
	.menuItemContainer > a:last-child::after{
		border: none;
	}
	.customSubMenuWrapper {
		display: none;
		position: absolute;
		left: 0;
		top: 83px;
		width: 100%;
		padding-top: 30px;
		z-index: 2;
	}
	.customMenuContainer  {
		background: rgba(255, 2552, 255, .9);
	}
	.menuItemContainer:hover .customSubMenuWrapper {
		display: flex;
		align-items: stretch;
	}
	.infoCard {
		width: 100%;
		height: 335px;
		min-height: auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}
	.menuItemContainer1 .infoCard a{
		display: none;
	}
	.menuItemContainer1 .infoCard a {
		display: flex;
    	align-items: center;
    	justify-content: center;

		background-color: transparent;
		color: #fff;
		border: 1px solid #fff;
		padding: 15px 25px;
		border-radius: 10px;
		text-decoration: none;
		text-transform: initial;
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 1px;
		width: 200px;
	}
	.infoCard h3 {
		color: #fff;
		text-align: initial;
		font-weight: 400;
		font-size: 28px;
		width: 450px;
	}
	.customMenuContainer {
		width: auto;
		display: flex;
		padding: 0 30px 30px;
	}
	.customMenuContainer .departmentItem:not(:last-child) {
		margin-right: 30px;
	}
	.customMenuContainer .departmentItem:not(:first-child) {
		margin-top: 50px;
	}
	.customMenuContainer .departmentItem h2 {
		margin-top: 0;
		display: none;
	}
	.customMenuContainer .departmentItem h2 a {
		text-transform: uppercase;
		font-weight: bold;
		color: #002555;
		font-size: 18px;
		text-decoration: none;
		width: max-content;
		max-width: 80%;
		white-space: pre-wrap;
	}
	.customMenuContainer .departmentItem h2 span {
		font-size: 10px;
		color: #002555;
		text-transform: uppercase;
		font-weight: 400;
		margin-left: 5px;
	}
	.customMenuContainer .departmentItem h2 a:hover {
		text-decoration: underline;
	}
	.customMenuContainer .categoriesContainer {
		display: flex;
	}
	.customMenuContainer .categoryItem  {
		width: 200px;
	}
	.customMenuContainer .categoryItem strong {
		text-transform: uppercase;
		font-weight: bold;
		color: #002555;
		font-size: 24px;
    	margin: 30px 0;
		display: block;
		width: 250px;
	}
	.customMenuContainer .categoryItem a {
		display: block;
		padding-bottom: 15px;
		color: #838385;
		text-decoration: none;
		font-size: 14px;
		white-space: pre-wrap;
		max-width: 100%;
		width: 100%;
	}
	.customMenuContainer .categoryItem a:hover {
		text-decoration: underline;
	}
}
@media(max-width: 1023px) {
	.customMenu {
	}
	.customSubMenuWrapper {
	}
}