@import 'variables';

.link--text-ombudsman{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 3.5;
    @media(max-width: $maxMobile){
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
.link--button{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    color: #0A3F3C;
    font-size: 13px;
    font-weight: bold;
    @media(max-width: $maxTablet) {
        display: flex;
        flex-direction: row-reverse;
        font-size: 20px !important;
        font-weight: 500 !important;
        text-transform: uppercase;
        padding: 0
    }
    @media(max-width: $maxMobile) {
        display: flex;
        flex-direction: row-reverse;
        font-size: 20px !important;
        font-weight: 500 !important;
        text-transform: uppercase;
        padding: 0
    }
}
.link--button-signature{    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .label--button-signature{
        text-align: center;
        color: #0A3F3C;
        font-size: 16px;
        font-weight: bold;
    }
}