@import 'variables';

.menuContainer--menu-footer{
    align-items: flex-start;
    .menuItem--menu-footer{
        .styledLinkContainer--menu-footer{
            margin: 0 !important;
            .styledLink--menu-footer{
                color: #4D4D4D !important;
                font-weight: 400;
                font-size: 15px;
                line-height: 2;
            }
        }
    }
}
.menuItem--menu-mobile{
    .styledLinkContainer--menu-mobile{
        .styledLink--menu-mobile{
            .styledLinkContent--menu-mobile{
                color: #4D4D4D !important;
                font-size: 16px;
                text-transform: uppercase;
                @media(max-width: $maxTablet){
                    font-weight: 500;
                }
                @media(max-width: $maxMobile){
                    font-weight: 500;
                }
                .accordionIcon--menu-mobile{
                    color: #053471 !important;
                    font-size: 0;
                }
            }
        }
    }
}
.menuContainer--footer-mobile{
    .menuItem--isClosed{
        .styledLinkContainer--footer-mobile{
            .styledLink--footer-mobile{
                .styledLinkContent--footer-mobile{
                    color: #4D4D4D!important;
                    font-size: 14px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.menuContainer--drawer{
    display: flex;
    flex-direction: column;
}
.menuContainerNav--drawer{
    width: 100% !important;
}
.accordionIcon--menu-mobile{
    &::before{
        content: '';
        display: block;
        background-image: url("assets/images/navigateup.png");
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        background-size: 17px;
    }
}
.accordionIcon--menu-mobile--isClosed{
    &::before{
        content: '';
        display: block;
        background-image: url("assets/images/arrowdown.png");
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        background-size: 17px;
    }
}
.menuItem--menu-mobile-drawer{
    border-bottom: 1px solid #e9e9e9
}