.sellingPrice,
.installments,
.listPrice {
  align-self: start;
  font-size: 15px;
  margin: 5px 0 0 0;
}

.listPrice {
  font-style: italic;
  width: fit-content;
  font-weight: lighter;
  margin-right: 10px;
}

.installments {
  font-weight: lighter;
  margin-bottom: 5px;
}

.sellingPrice {
  font-weight: bold;
  color: #053471;
  font-size: 14px;
}

.savings{
  color: #fff;
    background-color: #D6822D;
    padding: 5px;
    border-radius: 25px;
    width: 75px!important;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.listPriceValue{
  color: #78787A;
  font-size: 14px;
}
.sellingPrice--summary-2{
  font-size: 18px !important;
}
.currencyContainer--summary-2{
  font-size: 18px !important;
  font-style: normal;
}