@import 'variables';

.quantitySelectorTitle{
    display: none;
}
.quantitySelectorStepper{
    position: absolute;
    top: 248px;
    right: 223px;
    @media(max-width: $maxTablet){
        display: none;
    }
    @media(max-width: $maxMobile){
        display: none;
    }
}
.quantitySelectorStepper--product-quantity{
    position: absolute;
    top: 13px;
    right: 235px;
    @media(max-width: $maxTablet){
        display: flex !important;
        top: 15px;
        right: 223px;
    }
    @media(max-width: $maxMobile){
        display: flex !important;
        top: 24px;
        right: 250px;
    }
}

:global(.vtex-numeric-stepper-container){
    @media(max-width: $maxTablet){
        //display: none;
    }
    @media(max-width: $maxMobile){
        //display: none;
    }
    :global(.vtex-numeric-stepper__input){
        background-color: transparent;
        border: none;    
        color: #fff; 
        width: 50px !important;
        font-size: 18px;
        font-weight: 500;
    }
    :global(.vtex-numeric-stepper__plus-button-container){
        :global(.vtex-numeric-stepper__plus-button){
            background-color: transparent;
            border: none; 
            width: 0em !important;
            :global(.vtex-numeric-stepper__plus-button__text){
                color: #fff;
                font-size: 18px;
            }
        }
    }
    :global(.vtex-numeric-stepper__minus-button-container){
        :global(.vtex-numeric-stepper__minus-button){
            background-color: transparent;
            border: none; 
            width: 0em !important;
            :global(.vtex-numeric-stepper__minus-button__text){
                color: #fff;
                font-size: 18px;
            }
        }
    }
}