
.dot--isActive{
    display: none !important;
}

.title--relatedProducts-view{
    color: #053471;
    font-size: 30px;
    font-weight: bold;
}
.sliderContainer--relatedProducts-view{
    padding: 0 0 50px 0;
}
:global(.vtex-shelf-1-x-arrow){
    display: none;
}
:global(.vtex-slider-0-x-dotsContainer){
    display: none;
}