@import 'variables';

.infoCardTextContainer--home-list-instructions{
    width: 25%!important;
    margin-left: 200px;
    @media(max-width: $maxTablet){
        width: 57%!important;
        margin-left: 50px;
    }
    @media(max-width: $maxMobile){
        width: 80%!important;
        margin-left: 25px;
    }
}
.infoCardContainer--home-list-instructions{
    height: calc(600px - 90px);
    align-items: center;
    @media(max-width: $maxTablet){
        height: calc(655px - 90px);
    }
    @media(max-width: $maxMobile){
        height: calc(735px - 90px);
    }
    .infoCardTextContainer--home-list-instructions{
        .container--home-list-instructions{
            .wrapper--home-list-instructions{
                .heading--home-list-instructions{
                    color: #fff;
                    font-size: 60px;
                    font-weight: 400;
                }
            }
        }
    }
}
.sliderArrows--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}
.sliderRightArrow--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}