
.quantitySelectorTitle{
    display: none;
}
.quantitySelectorStepper{
    position: absolute;
    top: 248px;
    right: 223px;
}
.quantitySelectorStepper--product-quantity{
    position: absolute;
    top: 266px;
    right: 285px;
}

:global(.vtex-numeric-stepper-container){
    :global(.vtex-numeric-stepper__input){
        background-color: transparent;
        border: none;    
        color: #fff; 
        width: 50px !important;
        font-size: 18px;
        font-weight: 500;
    }
    :global(.vtex-numeric-stepper__plus-button-container){
        :global(.vtex-numeric-stepper__plus-button){
            background-color: transparent;
            border: none; 
            width: 0em !important;
            :global(.vtex-numeric-stepper__plus-button__text){
                color: #fff;
                font-size: 18px;
            }
        }
    }
    :global(.vtex-numeric-stepper__minus-button-container){
        :global(.vtex-numeric-stepper__minus-button){
            background-color: transparent;
            border: none; 
            width: 0em !important;
            :global(.vtex-numeric-stepper__minus-button__text){
                color: #fff;
                font-size: 18px;
            }
        }
    }
}