@import 'variables';

:global(.vtex-store-components-3-x-container){
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}
.imageElement--icon{
    &:first-child{
        margin: 0 20px 0 0;
        @media(max-width: $maxMobile){
            margin: 0;
        }
    }
    &:last-child{
        margin: 0 0 0 20px;
        @media(max-width: $maxMobile){
            margin: 0;
        }
    }
}
.imageElement--icon-section-1{
    width: 200px;
}
.imageElement--img-section-5{
    width: 100%;
    max-width: 100%;
}