
.dot--isActive{
    display: none !important;
}

.title--relatedProducts-view{
    color: #053471;
    font-size: 30px;
    font-weight: bold;
}
.sliderContainer--relatedProducts-view{
    padding: 0 0 50px 0;
}