@import 'variables';

:global(.vtex-store__template){
	background-color: #FAFAFA;
}
.flexRow--credits {
	padding: 15px 50px;
	background: #fff;
	.flexRowContent {
		align-items: center;
		@media (max-width: $maxMobile) {
			display: flex;
		}
	}
	@media (max-width: $maxMobile) {
		padding: 15px;
	}
}
.flexRowContent--credits{
	background-color: #fff;
	align-items: center;
}

.flexRowContent--menu-footer-mobile {
	@media (max-width: $maxTablet) {
		display: flex;
		flex-direction: column;
		.stretchChildrenWidth {
			width: 100% !important;
		}
	}
}
.flexRow--menu-footer-mobile {
	padding: 0 0 5px 0;
	.stretchChildrenWidth {
		margin: 0;
		border-bottom: 1px solid $light;
	}
}
.flexRow--container-footer-desktop {
	position: relative;
}
.flexRowContent--container-footer-desktop {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// .stretchChildrenWidth {
	// 	.flexRow--container-text-footer {
	// 		.flexRowContent--container-text-footer {
	// 		}
	// 	}
	// }
}
.flexCol--container-email-footer {
	@media (max-width: $maxMobile) {
		padding: 0 30px;
	}
}
.flexCol--footer-sac {
	width: 280px !important;
	@media (max-width: $maxMobile) {
		width: 280px;
	}
}
.flexRow--category-footer {
	display: none;
	.flexRowContent {
		@media (max-width: $maxTablet) {
			flex-direction: column;
		}
		.stretchChildrenWidth {
			@media (max-width: $maxTablet) {
				width: 100% !important;
			}
		}
	}
}
.flexCol--atendimento-menu-footer {
	padding: 0;
	background-color: $lighterGrey;
	@media (max-width: $maxTablet) {
		padding: 0 15px 15px;
	}
}
.flexRowContent--menu-footer {
	padding: 50px 30px;
}
.flexRow--container-attendance-contact{
	background: #FFA452;
    border-radius: 10px;
	.flexRowContent--container-attendance-contact{
		padding: 10px 20px;
		align-items: center;
		@media(max-width: $maxMobile){
			padding: 10px 15px;
			display: flex;
		}
		.stretchChildrenWidth{
			&:first-child{
				width: 20% !important;
			}
			&:last-child{
				width: 100% !important;
			}
		}
	}
}

.flexColChild--container-attendance{
	height: auto !important;
}
.flexCol--container-attendance{
	@media(max-width: $maxTablet){
		padding: 0 110px;
	}
	@media(max-width: $maxMobile){
		padding: 0 20px;
	}
}
.flexRow--container-attendance-contact{
	background: #FFA452;
    border-radius: 10px;
	.flexRowContent--container-attendance-contact{
		padding: 10px 20px;
		align-items: center;
		@media(max-width: $maxMobile){
			padding: 10px 15px;
			display: flex;
		}
		.stretchChildrenWidth{
			&:first-child{
				width: 20% !important;
			}
			&:last-child{
				width: 100% !important;
			}
		}
	}
}
.flexRow--menu-footer {
	background: #E6E6E6;
	margin-top: 0;
	.flexRowContent--menu-footer {
		padding: 50px;
		width: 100% !important;
		@media (max-width: $maxTablet) {
			padding: 0;
		}
		// .stretchChildrenWidth {
		// }
	}
}
.flexRowContent--menu-footer-mobile {
	@media (max-width: $maxTablet) {
		display: flex;
		flex-direction: column;
		.stretchChildrenWidth {
			width: 100% !important;
		}
	}
}
.flexRow--menu-footer-mobile {
	padding: 0 0 5px 0;
	.stretchChildrenWidth {
		margin: 0;
		border-bottom: 1px solid $light;
	}
}
.flexCol--atendimento-menu-footer {
	padding: 0;
	background-color: $lighterGrey;
	@media (max-width: $maxTablet) {
		padding: 0 15px 15px;
	}
}
.flexRowContent--menu-footer {
	padding: 50px 30px;
}
.flexRowContent--container-credits {
	@media (max-width: $maxTablet) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media (max-width: $maxMobile) {
		display: flex;
		margin-top: 15px;
		align-items: center;
		flex-direction: column;
	}
}
.flexRowContent--container-menu {
	padding-bottom: 30px;
	@media (max-width: $maxTablet) {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	@media (max-width: $maxMobile) {
		padding: 0 0 30px 0;
		display: flex;
		flex-direction: column;
	}
}
.flexCol--menu-mobile {
	.flexColChild--menu-mobile {
		padding: 20px 0;
		border-bottom: 1px solid #BDBDBD;
		&:last-child {
			border-bottom: 1px solid #BDBDBD;
		}
		.flexRow--atendimento-mobile{
			//padding: 0 15px;
		}
	}
}
.flexRowContent--menu-footer-mobile {
	@media (max-width: $maxTablet) {
		display: flex;
		flex-direction: column;
		.stretchChildrenWidth {
			width: 100% !important;
		}
	}
}
.flexRow--menu-footer-mobile {
	padding: 0 0 5px 0;
	.stretchChildrenWidth {
		margin: 0;
		border-bottom: 1px solid $light;
	}
}
.flexRowContent--icons{
	display: flex;
    align-items: center;
	margin: 10px 0;
}

.flexRowContent--container-section-6{
	padding: 0 50px 50px;
	@media (max-width: $maxTablet) {
		padding: 50px;
		display: flex;
		flex-direction: column;
	}
	@media (max-width: 767px) {
		padding: 50px 20px;
	}
}
.flexRowContent--section-6-sing{
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin-top: 50px;
}
.flexRowContent--container-img-1 {
	position: relative;
}
.flexRowContent--container-section-5{
	@media(max-width: $maxTablet){
		display: flex;
    	flex-direction: column;
		
			.stretchChildrenWidth{
				width: auto !important;
			}
		
	}
	.stretchChildrenWidth{
		// &:first-child{
		// 	width: 50% !important;
		// }
		.flexRow--container-img-1{
			max-width: 100%;
			width: 100%;
			.flexRowContent--container-img-1{
				width: 100%;
				max-width: 100%;
				.stretchChildrenWidth{
					&:first-child{
						max-width: 100% !important;
						width: 100% !important;
					}
				}
			}
		}
	}
}
.flexRowContent--section-6-sing-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flexRowContent--atendimento-number-mobile{
	display: flex;
	flex-direction: column;
	@media(max-width: $maxTablet){
		display: flex;
		flex-direction: row;
	}
	@media(max-width: $maxMobile){
		display: flex;
		flex-direction: row;
	}
}
.flexRowContent--atendimento-mobile{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	@media(max-width: $maxTablet){
		display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column;
	}
	@media(max-width: $maxMobile){
		display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column;
	}
	.stretchChildrenWidth {
		width: auto !important;
	}
}
.flexRow--shelf-img-and-btn{
	.flexRowContent--shelf-img-and-btn{
		.stretchChildrenWidth{
			width: auto !important
		}
	}
}
.flexCol--home-aux-showcase{
	padding: 50px 0;
}
.flexRow--container-header{
	padding: 15px 0px;
	background-color: #fff;
	border-top: 3px solid #053471;
	box-shadow: inset 0 0 0 #707070, 0 0 6px #707070;
}
.flexRow--container-menu{
	display: flex;
	border: 1px solid #F4F4F4;
    width: 300px;
    border-radius: 50px;
	margin-left: 20px;
	.flexRowContent--container-menu{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
}
.flexRow--main-header-mobile{
	padding: 10px;
	background-color: #fff;
}
.flexRowContent--main-header-mobile{
	:global(.vtex-store-components-3-x-logoLink){
		display: flex;
		&::after{
			content: '';
			display: block;
			border-right: 1px solid #DEDEDE;
			height: 64px;
    		margin-left: 15px;
		}
		:global(.vtex-store-components-3-x-logoContainer){
			padding: 0 !important;
		}
	}
}
.flexRowContent--container-header{
    display: flex;
	justify-content: space-around;
    align-items: center;
}
.flexCol--header-drawer-text{
	display: flex;
    align-items: flex-start
}
.flexRowContent--container-section-3-dogs{
	align-items: center;
	@media(max-width: $maxTablet){
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media(max-width: $maxMobile){
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.stretchChildrenWidth{
		&:first-child{
			width: 45% !important;
			@media(max-width: $maxTablet){
				width: 100% !important;
			}
			@media(max-width: $maxMobile){
				width: 100% !important;
			}
		}
		&:last-child{
			@media(max-width: $maxTablet){
				width: 100% !important;
			}
			@media(max-width: $maxMobile){
				width: 100% !important;
			}
		}
	}
}

.flexRow--header-drawer{
	
	.flexRowContent--header-drawer{
		display: flex;
		padding: 30px 15px;
        border-bottom: 1px solid rgb(233, 233, 233);
		&::before{
			content: '';
			display: block;
			background-image: url('assets/images/user.svg');
			background-size: 30px;
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			margin-top: 8px;
			margin-right: 15px;
		}
	}
}