@import 'variables';

:global(.vtex-minicart-2-x-openIconContainer){
    :global(.vtex-button){
        :global(.vtex-button__label){
            padding: 0 !important;
            :global(.vtex-minicart-2-x-minicartIconContainer){
                &::before{
                    content: '';
                    display: block;
                    background-image: url('assets/images/carrino.svg');
                    background-size: 20px;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    @media(max-width: $maxTablet){
                        background-size: 25px;
                        width: 25px;
                        height: 25px;
                    }
                    @media(max-width: $maxMobile){
                        background-size: 25px;
                        width: 25px;
                        height: 25px;
                    }
                }
                &::after{
                    content: 'Carrinho';
                    display: block;
                    color: #053471;
                    font-size: 14px;
                    text-transform: initial;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    @media(max-width: $maxTablet){
                        display: none !important;
                    }
                    @media(max-width: $maxMobile){
                        display: none !important;
                    }
                }
                :global(.vtex-minicart-2-x-cartIcon){
                    display: none !important;
                }
                :global(.vtex-minicart-2-x-minicartQuantityBadge){
                    border-radius: 100%;
                    width: 13px;
                    height: 13px;
                    top: 1px !important;
                    left: 45px !important;
                    background-color: #D6822D;
                    @media(max-width: $maxTablet){
                        top: 5px!important;
                        left: 30px!important;
                    }
                    @media(max-width: $maxMobile){
                        top: 5px!important;
                        left: 30px!important;
                    }
                }
            }
        }
    }
}