@import 'variables';

.link--text-ombudsman{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 3.5;
    @media(max-width: $maxMobile){
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
.link--button{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    color: #0A3F3C;
    font-size: 14px;
    font-weight: bold;
}
