@import 'variables';

.imageElement--tel{
    width: 35px;
    height: 35px;
}
:global(.vtex-store-components-3-x-container){
    padding: 0;
}
:global(.vtex-store-components-3-x-logoContainer){
    padding: 0 !important;
}
:global(.vtex-login-2-x-label){
    white-space: nowrap !important;
    color: #0A3F3C;
    text-transform: none;
    font-weight: bold;
    padding: 0;
}
:global(.vtex-minicart-2-x-minicartIconContainer){
    position: unset;
    :global(.vtex-minicart-2-x-cartIcon){
        opacity: 0;
    }
}
:global(.vtex-minicart-2-x-minicartQuantityBadge){
    width: 11px;
    height: 11px;
    background-color: #0A3F3C;
}
.imageElement--img-banner-2{
    opacity: 0.8;
}
:global(.vtex-button){
    :global(.vtex-button__label){
        padding: 0 !important;
    }
}
.imageElement--icon-button{
    width: 20px;
}
.imageElement--wallpaper{
    position: absolute;
    width: 265px;
    height: auto;
    bottom: 0;
    right: 0;
}
.imageElement--wallpaper-medical-carrer{
    width: 100%;
    height: 650px;
}
.imageElement--wallpaper-container-home-4{
    width: 100%;
    height: auto;
}