@import 'variables';

.sellingPrice,
.installments,
.listPrice {
  align-self: start;
  font-size: 15px;
  margin: 5px 0 0 0;
}

.listPrice {
  width: fit-content;
  font-style: italic;
  margin-top: 0;
  font-weight: 400;
  margin-left: 5px;
  .listPriceValue {
    .currencyContainer {
      font-size: 15px;
    }
  }
}

.installments {
  font-weight: lighter;
  margin-bottom: 5px;
}

.sellingPrice {
  color: #053471;
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}

.savings {
  color: #fff;
  width: auto !important;
  height: auto;
  padding: 9px 15px 7.5px;
  font-size: 11px;
  border-radius: 25px;
  background-color: #D6822D;
  &.savings--summary {
    top: 15px;
    left: 17px;
    position: absolute;
  }
  .savingsPercentage {
    font-size: 12px;
  }
  @media(max-width: $maxMobile) {
    // width: 47px !important;
    // height: 14px;
    font-size: 12px;
  }
}

.listPriceValue {
  color: #78787A;
  font-size: 18px;
  font-style: normal;
}

.sellingPrice--summary-2 {
  font-size: 18px !important;
}

// .currencyContainer--summary-2 {
//   font-size: 21px !important;
//   font-style: normal;
// }

.installments--summary {
  width: 100%;
  color: #78787a;
  margin: 5px 0 0;
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: lowercase;

  .currencyCode {
    text-transform: uppercase;
  }
}

.installments--summary::before {
  content: "Ou ";
  text-transform: capitalize;
}

.sellingPrice--product {
  .sellingPriceValue {
    font-size: 21px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.listPrice--product {
  .listPriceValue {
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.installments--product {
  color: #78787A;
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}