@import 'variables';

.menuContainer--menu-footer{
    align-items: flex-start;
    .menuItem--menu-footer{
        .styledLinkContainer--menu-footer{
            margin: 0 !important;
            .styledLink--menu-footer{
                color: #000 !important;
                font-weight: 100;
                font-size: 14px;
                line-height: 2;
            }
        }
    }
}
.menuItem--menu-mobile{
    .styledLinkContainer--menu-mobile{
        .styledLink--menu-mobile{
            .styledLinkContent--menu-mobile{
                color: #000 !important;
                font-size: 16px;
                text-transform: uppercase;
                .accordionIcon--menu-mobile{
                    color: #000 !important;
                    font-size: 20px;
                }
            }
        }
    }
}
.menuContainer--footer-mobile{
    .menuItem--isClosed{
        .styledLinkContainer--footer-mobile{
            .styledLink--footer-mobile{
                .styledLinkContent--footer-mobile{
                    color: #4D4D4D!important;
                    font-size: 14px;
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }
    }
}
