@import 'variables';

.infoCardTextContainer--home-list-instructions{
    width: 25%!important;
    margin-left: 200px;
    @media(max-width: $maxTablet){
        width: 57%!important;
        margin-left: 50px;
    }
    @media(max-width: $maxMobile){
        width: 80%!important;
        margin: 250px auto 0;
    }
}
.infoCardContainer--home-list-instructions{
    height: calc(600px - 90px);
    align-items: center;
    @media(max-width: $maxTablet){
        height: calc(655px - 90px);
    }
    @media(max-width: $maxMobile){
        height: calc(500px - 90px);
    }
    .infoCardTextContainer--home-list-instructions{
        .container--home-list-instructions{
            .wrapper--home-list-instructions{
                .heading--home-list-instructions{
                    color: #fff;
                    font-size: 60px;
                    font-weight: 400;
                    @media(max-width: $maxMobile){
                        color: #fff;
                        font-size: 40px;
                        font-weight: 400;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.sliderArrows--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}
.sliderRightArrow--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}
.infoCardContainer--home-section-3{
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    align-items: center;
    .infoCardTextContainer--home-section-3{
        .container--home-section-3{
            .wrapper--home-section-3{
                .paragraph--home-section-3{
                    text-align: center;
                    color: #7C7C7E;
                    flex-wrap: nowrap;
                    width: 200px;
                }
            }
        }
    }
}
.sliderTrack--home-section-3{
    align-items: baseline;
    padding: 0 0 50px 0;
}
.infoCardImageContainer--home-section-3{
    .infoCardImage--home-section-3{
        width: 300px;
    }
}

.infoCardContainer--home-list-section-4{
    height: 550px;
    background-position: initial !important;
}
.infoCardTextContainer--home-list-section-4{
    display: flex;
    align-items: center;
    @media(max-width: $maxMobile){
        margin: -250px auto 0;
    }
    .container--home-list-section-4 {
        .wrapper--home-list-section-4 {
            .heading--home-list-section-4 {
                font-size: 36px;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: 5px;
                color: #5B5478;
                margin: 0 0 15px 0;
                @media(max-width: $maxTablet){
                    font-size: 24px;
                    text-align: center;
                }
                @media(max-width: $maxMobile){
                    font-size: 24px;
                    text-align: center;
                }
            }
            .paragraph--home-list-section-4{
                margin: 0 0 10px 0;
                .strong--home-list-section-4{
                    font-size: 30px;
                    color: #5B5478;
                    @media(max-width: $maxTablet){
                        font-size: 25px;
                    }
                    @media(max-width: $maxMobile){
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
.infoCardCallActionContainer--home-list-section-4{
    border: 1px solid #5B5478;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    @media(max-width: $maxTablet){
        width: 340px;
    }
    @media(max-width: $maxMobile){
        width: 340px;
    }
    .infoCardCallActionText--home-list-section-4{
        text-decoration: none;
        color: #5B5478;
        font-size: 26px;
        margin: 0;
        padding: 20px;
        @media(max-width: $maxTablet){
            font-size: 20px;
            padding: 15px;
        }
        @media(max-width: $maxMobile){
            font-size: 20px;
            padding: 15px;
        }
    }
}