@import 'variables';



:global(.vtex-login-2-x-container){
    :global(.vtex-button){
        @media(max-width: $maxTablet){
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
            min-height: auto !important;
        }
        @media(max-width: $maxMobile){
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
            min-height: auto !important;
        }
        &::before{
            content: '';
            display: block;
            background-image: url('assets/images/user.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            width: 20px;
            height: 21px;
            margin: 0 auto;
            @media(max-width: $maxTablet){
                display: none;
            }
            @media(max-width: $maxMobile){
                display: none;
            }
           
        }
        :global(.vtex-button__label){
            padding-right: 0 !important;
            padding-left: 0 !important;
            @media(max-width: $maxTablet){
                padding: 0 !important;
            }
            @media(max-width: $maxMobile){
                padding: 0 !important;
            }
            :global(.vtex-login-2-x-label){
                color: #053471;
                text-transform: initial;
                padding-left: 5px!important;
                @media(max-width: $maxTablet){
                    display: flex;
                    padding: 0 !important;
                }
                @media(max-width: $maxMobile){
                    display: flex;
                    padding: 0 !important;
                }
            }
            :global(.items-center){
                padding: 0 !important;
            }
        }
    }
    :global(.vtex-login-2-x-buttonLink){
        :global(.vtex-button){
            min-height: auto !important;
            @media(max-width: $maxTablet){
                padding: 0 !important;
            }
            @media(max-width: $maxMobile){
                padding: 0 !important;
            }
            :global(.vtex-button__label){
                @media(max-width: $maxTablet){
                    padding: 0 !important;
                }
                @media(max-width: $maxMobile){
                    padding: 0 !important;
                }
            }
            :global(.vtex-login-2-x-label){
                @media(max-width: $maxTablet){
                    padding: 0 !important;
                    color: #707070 !important;
                    font-size: 18px;
                    font-weight: 400;
                }
                @media(max-width: $maxMobile){
                    padding: 0 !important;
                    color: #707070 !important;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}

:global(.vtex-login-2-x-loginOptionsContainer){
    :global(.vtex-login-2-x-options){
        :global(.vtex-login-2-x-formTitle){
            color: #053471;
            font-size: 18px;
        }
    }
}

:global(.vtex-login-2-x-optionsListItem){
    :global(.vtex-login-2-x-button){
        :global(.vtex-button){
            border: none !important;
            :global(.vtex-button__label){
                border: 1px solid rgb(233, 233, 233);
                width: 100%;
                min-height: 2.5rem;
                font-size: 12px;
                color: #707070;
                transition: .2s;
                &:hover{
                    color: #053471;
                    border-color:#053471;
                }
            }
        }
    }
}

:global(.vtex-login-2-x-sendButton){
    :global(.vtex-button){
        background-color: #053471 !important;
        border-color: #053471;
        :global(.vtex-button__label){
            padding-bottom: 0 !important;
        }
    }
}

:global(.vtex-login-2-x-emailVerification ){
    :global(.vtex-login-2-x-formTitle){
        font-size: 17px;
    }
}

:global(.vtex-login-2-x-profile){
    color: #053471 !important;
    text-transform: initial;
    @media(max-width: $maxTablet){
        display: flex;
        padding: 0 !important;
        max-width: 100% !important;
        color: #979899 !important;
    }
    @media(max-width: $maxMobile){
        display: flex;
        padding: 0 !important;
        max-width: 100% !important;
        color: #979899 !important;
    }
}
:global(.vtex-login-2-x-accountOptions){
    :global(.vtex-login-2-x-button){
        color: #707070;
        text-transform: .2s;
        &:hover{
            color: #053471;
        }
    }
    :global(.vtex-button ){
        :global(.vtex-button__label){
            color: #707070;
            text-transform: .2s;
            &:hover{
                color: #053471;
            }
        }
    }
}
:global(.vtex-login-2-x-box){
    right: -96px !important;
}
:global(.vtex-pageHeader__title){
    color: #053471;
}
:global(.b--action-primary){
    color: #053471 !important;
    border-color: #053471 !important;
}

:global(.vtex-pageHeader__children){
    :global(.vtex-my-cards-1-x-newCardButton){
        :global(.c-on-action-primary){
            background-color: #053471 !important;
            padding: 5px 15px !important;
            :global(.vtex-button__label){
                color: #fff;
                font-size: 13px;
            }
        }
    }
    :global(.newAddressButton){
        :global(.c-on-action-primary){
            background-color: #053471 !important;
            padding: 5px 15px !important;
            :global(.vtex-button__label){
                color: #fff;
                font-size: 13px;
            }
        }
    }
}
:global(.vtex-profile-form-3-x-profileContainer){
    :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper){
        :global(.vtex-button){
            border: 1px solid #053471 !important;
            background-color: transparent !important;
            color: #053471 !important;
        }   
    }
    :global(.vtex-button){
        background-color: #053471;
        border: none;
        :global(.vtex-button__label){
            color: #fff;
        }
    }
}

:global(.bg-disabled,){
    background-color: #053471;
    color: #fff !important;
    :global(.bg-emphasis){
        color: #fff !important;
    }
}

:global(.bg-action-primary) {
    background-color: #053471 !important;
    color: #fff !important;   
    font-size: 13px;
    //border: 2px solid #053471
}