@import 'variables';

.paragraph--dev-seals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $maxMobile) {
        justify-content: center;
    }

    .image {
        max-width: 70px;

        &:first-child {
            margin-right: 15px;
        }
    }
}

@media (max-width: $maxMobile) {
    .container--dev-seals {
        .wrapper {
            width: 100%;
        }
    }
}
.container--menu-footer {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
        margin-top: 10px;
        &.container--menu-footer-newsletter {
            margin-bottom: 0;
        }
    }
    .wrapper {
        .paragraph {
            color: #fff;
            margin: 0;
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}
.container--footer{
    .wrapper--footer{
        .paragraph--footer{
            font-size: 14px;
        }
    }
}
.container--title-contact-number{
    .wrapper--title-contact-number{
        .paragraph--title-contact-number{
            color: #0A3F3C;
            font-size: 14px;
            .strong--title-contact-number{
                font-size: 18px;
            }
        }
    }
}
.container--title-attendance{
    @media(max-width: $maxTablet){
        align-items: center;
        justify-content: center;
    }
    .wrapper--title-attendance{
        .paragraph--title-attendance{
            color: #fff;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 22px;
            font-weight: 100;
            @media(max-width: $maxTablet){
                text-align: center;
            }
            @media(max-width: $maxMobile){
                text-align: center;
            }
            .strong--title-attendance{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
.container--text-minicart{
    .wrapper--text-minicart{
        .paragraph--text-minicart{
            margin: 0;
            line-height: 1;
            color: #0A3F3C;
            font-weight: bold;
            font-size: 13px;
        }
    }
}
.container--title-home-2 {
    width: 466px !important;
    @media(max-width: $maxMobile){
        width: 100% !important;
    }
    .wrapper--title-home-2{
        .paragraph--title-home-2{
            font-size: 30px;
            font-weight: 500;
            margin: 0;
            color: #0A3F3C;
            @media(max-width: $maxTablet){
                font-size: 26px;
            }
            @media(max-width: $maxMobile){
                font-size: 19px;
            }
        }
    }
}
.container--title-medical-carrer{
    position: absolute;
    left: 0;
    top: 0;
    .wrapper--title-medical-carrer{
        padding: 50px 0 0 95px;
        @media(max-width: $maxTablet){
            padding: 50px 0 0 15px;
        }
        @media(max-width: $maxMobile){
            padding: 50px 0 0 15px;
        }
        .heading--title-medical-carrer{
            font-size: 30px;
            font-weight: 500;
            color: #0A3F3C;
            margin: 0;
            line-height: 1.5;
            @media(max-width: $maxMobile){
                font-size: 20px;
            }
        }
        .paragraph--title-medical-carrer{
            font-size: 20px;
            color: #000;
            font-weight: 100;
            @media(max-width: $maxMobile){
                font-size: 16px;
            }
        }
    }
}
.container--text-container-4{
    position: absolute;
    width: 700px !important;
    top: 225px;
    right: 230px;
    @media(max-width: $maxTablet){
        position: absolute;
        width: 350px !important;
        top: 134px;
        right: 30px;
    }
    @media(max-width: $maxMobile){
        position: absolute;
        width: 350px!important;
        top: 190px;
        right: 33px;
    }
    .wrapper--text-container-4{
        .paragraph--text-container-4{
            font-size: 18px;
            line-height: 1.5;
            @media(max-width: $maxMobile){
                font-size: 16px;
            }
        }
        .heading--text-container-4{
            color: #0A3F3C;
            font-size: 30px;
            @media(max-width: $maxMobile){
                font-size: 20px;
            }
        }
    }
}
.container--title-container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: $maxMobile){
        margin: 0 !important;
    }
    .wrapper--title-container-2{
        .paragraph--title-container-2{
            font-size: 30px;
            color: #0A3F3C;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 50px;
            @media(max-width: $maxMobile){
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
.container--title-plans{
    .wrapper--title-plans{
        position: absolute;
        left: 120px;
        top: 85px;
        width: 470px;
        @media(max-width: $maxTablet){
            left: 70px;
            top: 100px;
        }
        @media(max-width: $maxMobile){
            left: 35px;
            width: 300px;
        }
        .heading--title-plans{
            color: #fff;
            font-size: 48px;
            font-weight: 500;
            @media(max-width: $maxMobile){
                font-size: 40px;
            }
        }
        .paragraph--title-plans{
            color: #fff;
            font-size: 24px;
            @media(max-width: $maxMobile){
                font-size: 18px
            }
        }
    }
}
.container--title-why-sign{
    // position: absolute;
    // left: 420px;
    // top: 64px;
    margin-left: 402px;
    margin-bottom: 40px;
    width: 462px!important;
    @media (max-width: $maxTablet) {
        margin-left: 41px;
        margin-bottom: 20px;
        width: auto !important;
    }
    @media (max-width: $maxMobile) {
        margin-left: 0px;
        width: auto !important;
    }
    .wrapper--title-why-sign{
        .paragraph--title-why-sign{
            font-size: 36px;
            color: #0A3F3C;
            font-weight: 500;
            margin-bottom: 0;
            @media (max-width: $maxMobile) {
                font-size: 26px;
            }
        }
    }
}
.container--faq {
    .heading-level-1 {
        color: black;
        margin: 30px;
        font-size: 40px;
        text-transform: uppercase;

        @media (max-width: $maxMobile) {
            margin: 15px;
        }
    }
}
.container--title-faq {
    .wrapper {
        width: 100%;
        display: block;
        .heading {
            color: $dark;
            font-size: $size5;
            text-align: left;
            text-transform: uppercase;
        }
    }
}
.container--subtitle-faq {
    .wrapper {
        width: 100%;
        display: block;
        .heading {
            color: $dark;
            font-size: $size5;
            margin-top: 0;
            text-align: left;
            text-transform: uppercase;
        }
    }
}
.container--faq-content {
    .wrapper {
        .paragraph {
            color: $dark;
            font-size: $size2;

            .link {
                color: $orange;
                font-size: $size2;
                text-decoration: underline;
            }
        }
    }
}
.container--disclosure-faq-title {
    .heading {
        font-size: 16px;
        padding: 0;
        margin: 0;
        letter-spacing: 1.6px;
        color: #0A3F3C;
        font-weight: 500;
        @media(max-width: 767px) {
            font-size: 1rem;
        }
    }
}
.container--disclosure-faq-content {
    border-top: 1px solid #0A3F3C;
    padding-top: 30px; 
    .paragraph {
        margin-top: 0;
        font-size: 14px;
        color: #0A3F3C;
        line-height: 2;
        margin-bottom: 35px;
        .link {
            color: #0A3F3C;
            text-decoration: none;
        }
    }
    .list {
        .listItem {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            .paragraph {
                margin: 0;
                line-height: 1.7;
            }
        }
    }
}
.container--franqueados-question {
    .paragraph {
        font-size: $size2;
    }
}
.container--button-signature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    .wrapper--button-signature{
        .paragraph--button-signature{
            text-align: center;
            color: #0A3F3C;
            font-size: 16px;
            font-weight: bold;
            @media(max-width: $maxMobile) {
                font-size: 14px
            }
        }
    }
}
.link--button-signature{    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .label--button-signature{
        text-align: center;
        color: #0A3F3C;
        font-size: 16px;
        font-weight: bold;
    }
}
.container--title-differentials{
    .wrapper--title-differentials{
        .heading--title-differentials{
            color: #0A3F3C;
            font-weight: bold;
            font-size: 40px;
            @media(max-width: $maxMobile) {
                font-size: 30px;
                margin-bottom: 50px;
            }
        }
    }
}