@import 'variables';

.infoCardTextContainer--home-list-instructions{
    width: 25%!important;
    margin-left: 200px;
    @media(max-width: $maxTablet){
        width: 57%!important;
        margin-left: 50px;
    }
    @media(max-width: $maxMobile){
        width: 80%!important;
        margin-left: 25px;
    }
}
.infoCardContainer--home-list-instructions{
    height: calc(600px - 90px);
    align-items: center;
    @media(max-width: $maxTablet){
        height: calc(655px - 90px);
    }
    @media(max-width: $maxMobile){
        height: calc(735px - 90px);
    }
    .infoCardTextContainer--home-list-instructions{
        .container--home-list-instructions{
            .wrapper--home-list-instructions{
                .heading--home-list-instructions{
                    color: #fff;
                    font-size: 60px;
                    font-weight: 400;
                }
            }
        }
    }
}
.sliderArrows--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}
.sliderRightArrow--home-list-instructions{
    .caretIcon--home-list-instructions{
        color: #fff;
    }
}
.infoCardContainer--home-section-3{
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    align-items: center;
    .infoCardTextContainer--home-section-3{
        .container--home-section-3{
            .wrapper--home-section-3{
                .paragraph--home-section-3{
                    text-align: center;
                    color: #7C7C7E;
                    flex-wrap: nowrap;
                    width: 200px;
                }
            }
        }
    }
}
.sliderTrack--home-section-3{
    align-items: baseline;
    padding: 0 0 50px 0;
}
.infoCardImageContainer--home-section-3{
    .infoCardImage--home-section-3{
        width: 300px;
    }
}