@import 'variables';

:global(.vtex-login-2-x-container){
    :global(.vtex-button){
        @media(max-width: $maxTablet){
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
        }
        @media(max-width: $maxMobile){
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: row;
        }
        &::before{
            content: '';
            display: block;
            background-image: url('assets/images/user.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            width: 20px;
            height: 21px;
            margin: 0 auto;
            @media(max-width: $maxTablet){
                display: none;;
            }
            @media(max-width: $maxMobile){
                display: none;
            }
           
        }
        :global(.vtex-button__label){
            :global(.vtex-login-2-x-label){
                color: #053471;
                text-transform: initial;
                padding-left: 6px!important;
                @media(max-width: $maxMobile){
                    display: flex;
                }
            }
            :global(.items-center){
                padding: 0 !important;
            }
        }
    }
    :global(.vtex-login-2-x-buttonLink){
        :global(.vtex-button){
            min-height: auto !important;
            :global(.vtex-button__label){
                @media(max-width: $maxTablet){
                    padding: 0 !important;
                }
                @media(max-width: $maxMobile){
                    padding: 0 !important;
                }
            }
            :global(.vtex-login-2-x-label){
                @media(max-width: $maxTablet){
                    padding: 0 !important;
                    color: #707070 !important;
                    font-size: 18px;
                    font-weight: 400;
                }
                @media(max-width: $maxMobile){
                    padding: 0 !important;
                    color: #707070 !important;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}