@import 'variables';

.newsletterForm--email-section-6{
    position: relative;
    .emailInputContainer--input-email{
        :global(.vtex-input){
            :global(.vtex-input-prefix__group){
                border: none;
                border-bottom: 1px solid #E6E6E6;
                border-radius: 0;
                background: none;
                margin: 50px 0 0 0;
                :global(.vtex-styleguide-9-x-input){
                    background: transparent;
                    padding: 0 !important;
                }
            }
        }
    }
    
    .nameInputContainer--input-name{
        :global(.vtex-input){
            :global(.vtex-input-prefix__group){
                border: none;
                border-bottom: 1px solid #E6E6E6;
                border-radius: 0;
                background: none;
                margin-top: 50px;
                :global(.vtex-styleguide-9-x-input){
                    background: transparent;
                    padding: 0 !important;
                }
            }
        }
    }
    .formSubmitContainer--input-sumit{
        :global(.vtex-button){
            position: absolute;
            top: 83px;
            right: 0;

            background: none;
            color: #123F78 !important;
            border: none;
            background-color: transparent !important;
            width: auto !important;
            :global(.vtex-button__label){
                padding: 0;
                margin: 0;
                text-transform: initial;
                font-size: 18px;
            }
        }
    }
}
