@font-face {
	font-family: 'Effra';
	src: url(assets/fonts/Effra/Effra-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Effra';
	src: url(assets/fonts/Effra/Effra-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Effra';
	src: url(assets/fonts/Effra/Effra-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Effra';
	src: url(assets/fonts/Effra/Effra-Bold.ttf);
	font-weight: 700;
}
