@font-face {
	font-family: 'LibreFranklin';
	src: url(assets/fonts/LibreFranklin/LibreFranklin-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url(assets/fonts/LibreFranklin/LibreFranklin-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url(assets/fonts/LibreFranklin/LibreFranklin-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url(assets/fonts/LibreFranklin/LibreFranklin-Bold.ttf);
	font-weight: 700;
}
