@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica-Neue/Helvetica-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica-Neue/Helvetica-Regular.ttf);
	font-weight: 400;
}


@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica-Neue/Helvetica-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica-Neue/Helvetica-Bold.ttf);
	font-weight: 700;
}
